html { 
  background: url(imgs/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  background: rgb(95, 94, 101);
  border-bottom: 4px solid rgb(87, 7, 236);
  border-radius: 6px;
  transition: all 0.8s;
}
.card:hover {
  border-color: #ff99ff;
  float: center;
}

.one {
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  max-height: 100px;
  max-width: 300px;
  margin: 0 auto;  
}

.two {
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  max-height: 500px;
  max-width: 400px;
  text-align: center;
}

.three {
  color: white;
  font-family: "Lucida Console", "Courier New", monospace;
  max-height: 500px;
  max-width: 5000px;
  text-align: center;
  position: absolute;
  top: 338px;
  left: 1000px;
  border: 3px solid green;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border-radius: 50%;
  object-position: center;
}

.img:hover {
  transform: scale(1.2) rotate(10deg);
}